Package: xyz.sn0wstar.sillyo-installer
Section: Packaging
Maintainer: sn0wstar(cool5tar) <blzzardst0rm@gmail.com>
Architecture: iphoneos-arm
Version: 2.0.0b6
SileoDepiction: https://coolstar.moe/sileoassets/depictionoverride.php?package=org.coolstar.sileo
Depends: apt1.8, libapt-pkg5.0, apt-key, dpkg (>= 1.18.11), cydia (>= 1.1.32~b1), xyz.sn0wstar.sillyo-installer
Conflicts: cydia-gui (<= 1.1.30-3)
Pre-Depends: debianutils, dpkg (>= 1.14.25-8)
Description: A proper APT client for iOS 11 and higher. (View this package in Sileo to see the full depiction)
Name: Sileo (Beta) [unc0ver]
Author: Sileo Team <getsileoapp@gmail.com>
