Package: com.samgisaninja.install-sillyo
Name: Sileo for unc0ver
Depends: libapt-pkg5.0, apt1.4, com.samgisaninja.sillyo
Version: 0.4b2-1
Architecture: iphoneos-arm
Description: Safely install official Sileo on unc0ver
Maintainer: Samg_is_a_Ninja
Author: Samg_is_a_Ninja
Section: Utilities
Conflicts: com.pixelomer.u0sileo.backend, com.pixelomer.u0sileo
